In [1]:
import pandas as pd
import numpy as np
from arch import arch_model
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from forecast import *

In [2]:
forecast_horizon = 120
time_step = 3

In [39]:
input_path = f'input/inputBanorte.csv'
df = pd.read_csv(input_path, delimiter=';', index_col='Mes', parse_dates=['Mes'], dayfirst=True)
df['Medio'] = df['Medio'].str.replace('.', '').str.replace(',', '.').astype(float)
df.index = pd.DatetimeIndex(df.index).to_period('M').to_timestamp()
data = df[:-2]
forecast_dates = pd.date_range(start=data.index[-1] + pd.DateOffset(months=1), periods=forecast_horizon, freq='MS')

In [40]:
data

                   Medio
Mes
2022-01-01  2.857121e+09
2022-02-01  3.157534e+09
2022-03-01  2.827872e+09
2022-04-01  3.158949e+09
2022-05-01  3.284516e+09
2022-06-01  3.140694e+09
2022-07-01  3.172952e+09
2022-08-01  3.272219e+09
2022-09-01  3.343171e+09
2022-10-01  3.340425e+09
2022-11-01  3.320740e+09
2022-12-01  3.201773e+09
2023-01-01  2.754710e+09
2023-02-01  2.732543e+09

In [42]:
pred_rf, sup_rf, inf_rf = rf_train_with_bands(data['Medio'], forecast_horizon, time_step)
forecast_df_rf = pd.DataFrame({'Mes': forecast_dates,
                                 'Pronóstico': pred_rf,
                                 'Inferior 95': inf_rf,
                                 'Superior 95': sup_rf})
forecast_df_rf.set_index('Mes', inplace=True)

In [43]:
forecast_df_rf

              Pronóstico   Inferior 95   Superior 95
Mes
2023-03-01  3.116776e+09  3.116776e+09  3.116776e+09
2023-04-01  3.163882e+09  3.163882e+09  3.163882e+09
2023-05-01  3.184422e+09  3.184422e+09  3.184422e+09
2023-06-01  3.255482e+09  3.255482e+09  3.255482e+09
2023-07-01  3.306457e+09  3.306457e+09  3.306457e+09
...                  ...           ...           ...
2032-10-01  3.058621e+09  3.058621e+09  3.058621e+09
2032-11-01  2.903052e+09  2.903052e+09  2.903052e+09
2032-12-01  3.156919e+09  3.156919e+09  3.156919e+09
2033-01-01  3.255785e+09  3.255785e+09  3.255785e+09
2033-02-01  3.210566e+09  3.210566e+09  3.210566e+09

[120 rows x 3 columns]

In [29]:
data = df['Medio'].dropna()
actual_values = data[-2:].values

In [44]:
actual_values

array([2.70838778e+09, 2.56628587e+09])

In [47]:
forecast_df_rf['Pronóstico'][:2].values

array([3.11677603e+09, 3.16388195e+09])